<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FuelDataSysClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />

        </sectionGroup>
      <section name="fileName" type="System.Configuration.NameValueSectionHandler" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FuelDataSysClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FuelDataSysClient.Properties.Settings.dataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\192.168.1.100\lhhb\data.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="FuelDataSysClient.Properties.Settings.dataConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\data\data.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="FuelDataSysClient.Properties.Settings.data_JBLHConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\data\data_JBLH.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="FuelDataSysClient.Properties.Settings.data_NissanConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\data\data_Nissan.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <FuelDataSysClient.Properties.Settings>
            <setting name="WsDXIP" serializeAs="String">
                <value />
            </setting>
            <setting name="IsProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyAddr" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeConstrain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExcelHeaderTemplate" serializeAs="String">
                <value>\ExcelHeaderTemplate\ExcelHeaderTemplate.xls</value>
            </setting>
            <setting name="DbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Qymc" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPWD" serializeAs="String">
                <value />
            </setting>
            <setting name="CompareFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFuelTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcelHeaderTemplate_JBLH" serializeAs="String">
                <value>\ExcelHeaderTemplate\ExcelHeaderTemplate_JBLH.xls</value>
            </setting>
            <setting name="ExcelHeaderTemplate_BMW" serializeAs="String">
                <value>\ExcelHeaderTemplate\ExcelHeaderTemplate_BMW.xls</value>
            </setting>
            <setting name="ExcelHeaderTemplate_Porsche" serializeAs="String">
                <value>\ExcelHeaderTemplate\ExcelHeaderTemplate_Porsche.xls</value>
            </setting>
            <setting name="ExcelHeaderTemplate_Mits" serializeAs="String">
                <value>\ExcelHeaderTemplate\ExcelHeaderTemplate_Mits.xls</value>
            </setting>
            <setting name="ExcelHeaderTemplate_Toyota" serializeAs="String">
                <value>\ExcelHeaderTemplate\ExcelHeaderTemplate_Toyota.xls</value>
            </setting>
            <setting name="ExcelHeaderTemplate_ToyotaCompare" serializeAs="String">
                <value>\ExcelHeaderTemplate\ExcelHeaderTemplate_ToyotaCompare.xls</value>
            </setting>
            <setting name="ExcelHeaderTemplate_Chrysler" serializeAs="String">
                <value>\ExcelHeaderTemplate\ExcelHeaderTemplate_Chrysler.xls</value>
            </setting>
            <setting name="ExcelHeaderTemplate_Nissan" serializeAs="String">
                <value>\ExcelHeaderTemplate\ExcelHeaderTemplate_Nissan.xls</value>
            </setting>
            <setting name="ExcelHeaderTemplate_Volkswagen" serializeAs="String">
                <value>\ExcelHeaderTemplate\ExcelHeaderTemplate_Volkswagen.xls</value>
            </setting>
            <setting name="MenuDataURL" serializeAs="String">
                <value>\ExcelHeaderTemplate\menuData.XML</value>
            </setting>
        </FuelDataSysClient.Properties.Settings>
    </userSettings>
  <fileName>
    <add key="VIN"  value="VIN*.xls" />
    <add key="MAIN"  value="汽车燃料参数*.xls" />
    <add key="F_VIN"  value="已导入数据" />
    <add key="F_MAIN"  value="已导入数据" />
  </fileName>
  <applicationSettings>
    <FuelDataSysClient.Properties.Settings>
      <setting name="FuelDataSysClient_CafcService_CafcWebService"
        serializeAs="String">
        <value>http://tsoapfuel.catarc.info/CafcWebService.asmx</value>
      </setting>
      <setting name="FuelDataSysClient_FuelDataOpen_FuelDataOpen" serializeAs="String">
        <value>http://tsoapfuel.catarc.info/FuelDataOpen.asmx</value>
      </setting>
      <setting name="FuelDataSysClient_CertificateService_CertificateComparison"
        serializeAs="String">
        <value>http://tsoapfuel.catarc.info/CertificateComparison.asmx</value>
      </setting>
      <setting name="FuelDataSysClient_AuthorityManager_Authority"
        serializeAs="String">
        <value>http://tsoapfuel.catarc.info/Authority.asmx</value>
      </setting>
      <setting name="FuelDataSysClient_FuelDataService_FuelDataSysWebService"
        serializeAs="String">
        <value>http://tsoapfuel.catarc.info/FuelDataSysWebService.asmx</value>
      </setting>
      <setting name="FuelDataSysClient_FuelDataService_Service1" serializeAs="String">
        <value>http://tsoap.catarc.info/FuelDataSysWebService.asmx</value>
      </setting>
      <setting name="FuelDataSysClient_FuelFileUpload_FileUploadService"
        serializeAs="String">
        <value>http://tsoapfuel.catarc.info/FileUploadService.asmx</value>
      </setting>
    </FuelDataSysClient.Properties.Settings>
  </applicationSettings>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy/>
      <bypasslist/>
      <module/>
    </defaultProxy>
  </system.net>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>