<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Assistant.Properties.Settings>
            <setting name="USERNAME" serializeAs="String">
                <value>TEST</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>TEST</value>
            </setting>
            <setting name="DBAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DBPort" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="DBServiceName" serializeAs="String">
                <value>ORCL</value>
            </setting>
            <setting name="DBUsername" serializeAs="String">
                <value>C##ocean</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>ocean</value>
            </setting>
            <setting name="Assistant_ConfigCodeService_IPackageInfoServiceService" serializeAs="String">
                <value>http://60.247.58.117:8000/patac/webservice/PackageInfoService</value>
            </setting>
            <setting name="INSTNAME" serializeAs="String">
                <value>HCBM</value>
            </setting>
            <setting name="Assistant_FlexService_IFlexUserServiceService" serializeAs="String">
                <value>http://localhost:8082/Mountain/services/flexService</value>
            </setting>
            <setting name="SOFTWAREUSERNAME" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="DomainName" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsUsingProxy" serializeAs="String">
                <value>False</value>
            </setting>
        </Assistant.Properties.Settings>
    </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FlexServiceServiceSoapBinding" openTimeout="00:01:00" allowCookies="false" maxReceivedMessageSize="5242880" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Mtom" maxBufferSize="5242880">
          <readerQuotas maxArrayLength="5242880"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://219.234.2.24:8080/FlexServer/cxf/flexService" binding="basicHttpBinding" bindingConfiguration="FlexServiceServiceSoapBinding" contract="Services.FlexService" name="FlexServicePort"/>
    </client>
  </system.serviceModel>
</configuration>
