<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>

              <binding name="FlexServiceServiceSoapBinding" openTimeout="00:01:00" messageEncoding="Mtom" allowCookies="false" useDefaultWebProxy="true" maxReceivedMessageSize="5242880">
                <readerQuotas maxArrayLength="5242880"/>
              </binding>
              
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://219.234.2.24:8080/FlexServer/cxf/flexService" binding="basicHttpBinding" bindingConfiguration="FlexServiceServiceSoapBinding" contract="Services.FlexService" name="FlexServicePort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
